.form {
  &__container {
    padding: 45px 50px 50px 50px;

    @media (max-width: 1200px) {
      padding: 35px 40px 40px 40px;
    }
    @media (max-width: 992px) {
      padding: 35px 30px 30px 30px;
    }
    @media (max-width: 768px) {
      padding: 20px 30px 30px 30px;
    }
    @media (max-width: 560px) {
      padding: 20px 30px 30px 30px;
    }
  }

  &__item {
    margin-bottom: 50px;
    @include breakpoint(xl) {
      margin-bottom: 40px;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 19px;
    background-color: var(--thirdly-color);

    @include breakpoint(xl) {
      padding-bottom: 15px;
    }
    @include breakpoint(xl) {
      font-size: 80%;
    }
  }

  &__textarea {
    min-height: 230px;
    width: 100%;
    resize: vertical;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    background-color: var(--thirdly-color);

    @include breakpoint(xl) {
      min-height: 200px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
