.form {
  &__container {
    padding: 45px 0px;
    @include breakpoint(md) {
      padding: 25px 0px;
    }
  }

  &__item {
    margin: 0px 30px 50px 30px;
    @include breakpoint(xl) {
      margin-bottom: 40px;
    }
    @include breakpoint(lg) {
      margin: 0px 20px 40px 20px;
    }
    @include breakpoint(md) {
      margin: 0px 10px 20px 10px;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 19px;
    background-color: var(--white);

    @include breakpoint(xl) {
      padding-bottom: 15px;
    }
    @include breakpoint(xl) {
      font-size: 80%;
    }
  }

  &__textarea {
    min-height: 230px;
    width: 100%;
    resize: vertical;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    background-color: var(--white);

    @include breakpoint(xl) {
      min-height: 200px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
