.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 12%;
  top: 20%;
  transform: translate(-20%, -10%);
  min-width: 470px;
  background-color: #ffff;
  border-radius: 10px;
  @include breakpoint(xl) {
    max-width: 400px;
    left: 12%;
    top: 23%;
  }
  @include breakpoint(sm) {
    left: 25%;
  }

  &__form-container {
    padding: 45px 50px 50px 50px;

    @include breakpoint(xl) {
      padding: 35px 40px 40px 40px;
    }
    @include breakpoint(lg) {
      padding: 35px 30px 30px 30px;
    }
    @include breakpoint(md) {
      padding: 20px 30px 30px 30px;
    }
    @include breakpoint(sm) {
      padding: 20px 30px 30px 30px;
    }
  }

  &__form-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 25px 5px;

    @include breakpoint(lg) {
      font-size: 18px;
      padding: 15px 5px;
    }
    & span {
      color: #ec7979;
    }
  }

  &__form-item {
    margin-bottom: 50px;

    @include breakpoint(lg) {
      margin-bottom: 40px;
    }
  }

  &__form-input {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 19px;
    background-color: var(--thirdly-color);

    @include breakpoint(lg) {
      padding-bottom: 15px;
    }
    @include breakpoint(md) {
      font-size: 80%;
    }
  }

  &__form-textarea {
    min-height: 230px;
    width: 100%;
    resize: vertical;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    background-color: var(--thirdly-color);

    @include breakpoint(lg) {
      min-height: 200px;
    }
  }

  &__form-button {
    margin: 0 auto;
  }

  &__close-btn {
    color: var(--accent-color);
    float: right;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px 0 0;

    @include breakpoint(lg) {
      font-size: 16px;
      padding: 8px 8px 0 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
