.footer {
  text-align: center;
  padding-top: 50px;
  background-color: var(--primary-color);
  @include breakpoint(sm) {
    padding-top: 35px;
  }

  &__list svg:hover path {
    fill: var(--accent-color);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 25px;
    @include breakpoint(sm) {
      width: 50%;
      height: 0%;
      padding-top: 10%;
      position: relative;
    }
    & svg {
      @include breakpoint(sm) {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--secondary-color);
  }
}
