.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  z-index: 50;

  &_has-bg {
    background: var(--primary-color);
  }

  &__inner {
    display: flex;
  }

  &__nav {
    margin-left: auto;
    padding-top: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;

    @include breakpoint(sm) {
      position: fixed;
      flex-direction: column;
      background-color: var(--primary-color);
      width: 100%;
      height: 100%;
      transition: 0.3s;
      left: -100%;
      top: 60px;
    }
  }

  &__menu.active {
    left: 0;
  }

  &__menu-item {
    margin-right: 40px;

    @include breakpoint(lg) {
      margin-right: 20px;
    }
    @include breakpoint(md) {
      margin-right: 10px;
    }
  }

  &__menu-item_has-child:hover > .header__sub-menu {
    display: block;
  }

  &__sub-menu {
    display: none;
    position: absolute;
    background-color: var(--accent-color);
    padding: 0;
    border-radius: 10px;

    @include breakpoint(sm) {
      position: static;
      margin-top: -20px;
      margin-left: 100px;
    }
  }

  &__sub-menu-item {
    list-style-type: none;
    padding: 10px;
    @include breakpoint(xl) {
      padding: 5px;
    }
  }

  &__sub-menu-link {
    text-decoration: none;
    color: var(--thirdly-color);
  }

  &__sub-menu-link::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-bottom: 3px solid var(--thirdly-color);
    border-right: 3px solid var(--thirdly-color);
    margin-left: 10px;
    transform: rotate(310deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }

  &__sub-menu-link:hover::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-bottom: 3px solid var(--thirdly-color);
    border-right: 3px solid var(--thirdly-color);
    margin-left: 10px;
    transform: rotate(130deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }

  &__menu-link {
    text-decoration: none;
    color: var(--thirdly-color);
    transition: 0.2s;
  }

  &__menu-link:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }

  &__menu-link::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    margin-left: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }

  &__menu-link:hover::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    margin-left: 10px;
    transform: rotate(225deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }

  &__second-sub-menu {
    display: none;
    position: absolute;
    top: -10px;
    left: 112px;
    margin-top: 10px;
    background-color: var(--accent-color);
    padding: 0;
    border-radius: 10px;
    @include breakpoint(xl) {
      position: absolute;
      top: -5px;
      left: 105px;
      margin-top: 5px;
    }
  }

  &__second-sub-menu-item {
    list-style-type: none;
    padding: 10px;
    @include breakpoint(xl) {
      padding: 5px;
    }
  }

  &__second-sub-menu-link {
    text-decoration: none;
    color: var(--thirdly-color);
  }

  &__second-sub-menu_has-child:hover > .header__second-sub-menu {
    display: block;
  }
}
