.reviews {
  text-align: center;
  padding: 50px 0px 64px 0px;
  @include breakpoint(xl) {
    padding: 50px 0px 57px 0px;
  }

  &__feedback {
    position: relative;
    background-color: #e2e2e2;
    border-radius: 10px;
    margin-bottom: 65px;
    @include breakpoint(sm) {
      margin-bottom: 30px;
    }
  }

  &__feedback-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: var(--subtitleColor);
    padding: 38px 10px;
    @include breakpoint(sm) {
      font-size: 14px;
      padding: 50px 10px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 30px;
      bottom: -20px;
      border: 10px solid transparent;
      border-top: 10px solid #e2e2e2;
    }
  }

  &__author {
    display: flex;
    @include breakpoint(sm) {
      margin-bottom: 30px;
    }
  }

  &__author-icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  @include breakpoint(xl) {
    width: 63px;
    height: 63px;
  }

  &__author-info {
    padding-left: 30px;
    text-align: start;
  }

  &__author-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: var(--titleColor);
    margin-bottom: 10px;
  }
  @include breakpoint(xl) {
    font-size: 18px;
  }

  &__author-position {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--titleColor);
  }
  @include breakpoint(xl) {
    font-size: 14px;
  }
}
