.tabs {
  padding-top: 50px;

  &__info {
    padding-left: 70px;
    @include breakpoint(md) {
      text-align: center;
      padding-left: 0px;
    }
  }

  &__title {
    padding-top: 50px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    color: var(--primary-color);
    @include breakpoint(lg) {
      padding-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
    }
    @include breakpoint(md) {
      font-size: 18px;
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-color);
    line-height: 1.2;
    margin-bottom: 80px;
    @include breakpoint(lg) {
      font-size: 14px;
      margin-bottom: 38px;
    }
    @media (max-width: 560px) {
      text-align: center;
    }
  }

  &__input {
    position: absolute;
    left: -10000px;
    &_one:checked ~ .tabs .tabs__panel_one,
    &_two:checked ~ .tabs .tabs__panel_two,
    &_three:checked ~ .tabs .tabs__panel_three {
      display: block;
    }
    &_one:checked ~ .tabs .tabs__label_two {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid var(--secondary-color);
      @include breakpoint(sm) {
        color: var(--accent-color);
        border-left: 4px solid var(--accent-color);
        border-bottom: none;
        border-radius: 0;
      }
    }
    &_one:checked ~ .tabs .tabs__label_three {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid var(--secondary-color);
      @include breakpoint(sm) {
        color: var(--accent-color);
        border-left: 4px solid var(--accent-color);
        border-bottom: none;
        border-radius: 0;
      }
    }
    &_two:checked ~ .tabs .tabs__label_one {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid var(--secondary-color);
      @include breakpoint(sm) {
        color: var(--accent-color);
        border-left: 4px solid var(--accent-color);
        border-bottom: none;
        border-radius: 0;
      }
    }
    &_two:checked ~ .tabs .tabs__label_three {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid var(--secondary-color);
      @include breakpoint(sm) {
        color: var(--accent-color);
        border-left: 4px solid var(--accent-color);
        border-bottom: none;
        border-radius: 0;
      }
    }
    &_three:checked ~ .tabs .tabs__label_one {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid var(--secondary-color);
      @include breakpoint(sm) {
        color: var(--accent-color);
        border-left: 4px solid var(--accent-color);
        border-bottom: none;
        border-radius: 0;
      }
    }
    &_three:checked ~ .tabs .tabs__label_two {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid var(--secondary-color);
      @include breakpoint(sm) {
        color: var(--accent-color);
        border-left: 4px solid var(--accent-color);
        border-bottom: none;
        border-radius: 0;
      }
    }
  }

  &_row {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__label {
    flex-grow: 0;
    max-height: 40px;
    border: 1px solid var(--secondary-color);
    padding: 15px 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--white);
    border-bottom: 2px solid #ffff;
    margin-bottom: -1px;
    z-index: 1;
    @include breakpoint(lg) {
      padding: 15px 40px;
    }
    &__label {
      background: #fff;
      border-bottom: none;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  @include breakpoint(sm) {
    .tabs__label_one {
      order: 1;
    }
    .tabs__label_two {
      order: 3;
    }

    .tabs__label_three {
      order: 5;
    }

    .tabs__panel_one {
      order: 2;
    }
    .tabs__panel_two {
      order: 4;
    }
    .tabs__panel_three {
      order: 6;
    }
  }

  &__panel {
    background-color: #fff;
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
    border: 1px solid var(--secondary-color);
  }

  &__gallery {
    overflow: hidden;
    margin: 0;
  }

  &__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include breakpoint(md) {
      display: none;
    }
  }
}
