:root {
  --primary-color: #000000;
  --secondary-color: #86878b;
  --thirdly-color: #ffff;
  --color-bg: #ffff;
  --color-tx: #212121;
  --accent-color: #ec7979;
  --accent-color-bg: #ab4949;
  --content-width: 1170px;
  --mobile-padding: 15px;
  --gutter: 15px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-display: unset;
  font-size: 18px;
  line-height: 1.4;
}

[data-theme="dark"] {
  --color-bg: rgb(96, 96, 96);
  --color-tx: #ec7979;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-bg);
  color: var(--color-tx);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
